/* * {
    width:100%;
    height:100%;
    padding: 0; margin: 0;
} */

html {
    font-family: 'Fredoka One', cursive;
    width:100%;
    padding: 0; margin: 0;
}

#gameHolder {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
}

.mobControls {
    display:flex;
    align-items:center;
    justify-content:center;
    width:100%;
    margin-top:40px;
}
.button {
    height:150px;
    width:400px;
    background:url("assets/flapBtn_up.png");
    background-size:contain;
    background-origin:center;
    background-position:center;
    background-repeat:no-repeat;
    display:flex;
    align-items:center;
    justify-content:center;    
}

.down {
    background:url("assets/flapBtn_down.png");
    background-size:contain;
    background-origin:center;
    background-position:center;
    background-repeat:no-repeat;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 960px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

    .mobControls {
        margin-top:20%;
    }
    .button {
        height:330px;
        width:580px;   
    }
    .down {
        background:url("assets/flapBtn_down.png");
    }    

}